.env
bot.log
logs/bot.log
.idea
project_bundle.py
project_bundle.txt
source/__pycache__
source/connections/__pycache__
source/db/__pycache__/
source/db/repos/__pycache__/
source/migrations/__pycache__/
alembic
__pycache__/
.coverage
.pytest_cache/
